# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
*.dll
*.exe
*.pdb

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# Test results
[Tt]est[Rr]esult*/
*.trx

# dotnet
project.lock.json
project.fragment.lock.json
artifacts/

# OS generated
.DS_Store
Thumbs.db
